.background-gray {
    background-color: #f5f4fa;
    max-width: 100%;
    padding-top: 94px;
    margin: 0 auto;
    flex-direction: column;
    
}

.background-gray ul {
    margin: 0 auto;
}

.background-gray li {
    background-color: $primary-color;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
    .background-gray {
            background-color: #f5f4fa;
            max-width: 100%;
            padding-top: 94px;
            margin: 0 auto;
            flex-direction: column;
            box-shadow: -600px 0 #f5f4fa, -300px 0 #f5f4fa, -100px 0 #f5f4fa,
                    600px 0 #f5f4fa, 300px 0 #f5f4fa, 100px 0 #f5f4fa;
        }
    
        .background-gray ul {
            margin: 0 auto;
        }
    
        .background-gray li {
            background-color: $primary-color;
            text-align: center;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
}