.services {
    display: none;
}
@media screen and (min-width: 1200px) {

.services__img {
    position: relative;
}

.services__caption {
    position: absolute;
    color: $primary-color;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    bottom: 0;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    padding-block: 27px;
}

.services__list {
    display: flex;
    align-items: flex-start;
}
}