.slider {
    display: flex;
    box-sizing: border-box;
    // max-width: 1600px;
    height: 400px;
    justify-content: center;
    background: #2f303a66;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/slider-photo-mobile.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.slider__text {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615em;
    color: $primary-color;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.slider button {
    margin-left: auto;
    margin-right: auto;
}

.slider__btn {
    border-color: $main-color;
    background-color: $main-color;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    color: $primary-color;
    line-height: 1.87em;
    height: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-items: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .slider {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/slider-photo-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
.slider {
    display: flex;
    box-sizing: border-box;
    max-width: 1600px;
    height: 600px;
    justify-content: center;
    background: #2f303a66;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/slider-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
}

.slider__text {
    display: flex;
    width: 696px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
}
}

@media screen and (min-width: 1200px) {
    .slider {
            display: flex;
            box-sizing: border-box;
            max-width: 1600px;
            height: 600px;
            justify-content: center;
            background: #2f303a66;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/slider-photo.jpg);
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/slider-photo.jpg);
            background-repeat: no-repeat;
            background-position: center;
            flex-direction: column;
        }
}