.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
}

.team__office {
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
    color: $secondary-color;
}