body {
    font-family: "Roboto", "sans-serif";
    font-size: 14px;
    color: $black-title;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    width: 100%;
    gap: 30px;
    margin-bottom: 0;
}
li>img {
    vertical-align: top;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-width {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

@media screen and (min-width: 726px){
.page-width {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
}