    $main-color: #2196f3;
    $main-color-opacity: rgba(33, 150, 243, 0.9);
    $primary-color: #ffffff;
    $secondary-color: #757575;
    $tertiary-color: #000000;
    $black-title: #212121;
    $border-header: #ececec;
    $border-input: rgba(33, 33, 33, 1);
    $add-font: "Raleway";
    $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    $shadows: rgba(255, 255, 255, 0.6);